{% extends "blog/base.html" %}
{% block title %}POSTS POSTS POSTS{% endblock %}

{% block header %}
<center style="color: grey;
text-shadow: 2px 2px 2px black; font-size:60px;">
WELCOME-AKWAABA</br></br></br></br>
<b style="font-size: 100px">yblog</b></br></b></br></b></br></b></br>
Let Us Blog!!!</b></br></b></br></b></br>

<a href='/blog/posts/' 
class="btn btn-primary btn-large">View All Posts &raquo;</a>
</center>
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
{% endblock %}


