{% extends "blog/base.html" %}
{% block title %}POSTS POSTS POSTS{% endblock %}

{% block header %}
</br></b></br></br></b></br>
<center style="color: grey;
text-shadow: 2px 2px 2px black; font-size:60px;">
</br></b></br>
WELCOME-AKWAABA</br></br></br></br>
<b style="font-size: 100px">yblog</b></br></b></br></b></br></b></br>
It's why you blog !!!</b></br></b></br></b></br>


</center>
</br></b></br></br></b></br>
{% endblock %}
{% block content %}

{% endblock %}
{% block footer %}
{% endblock %}


