<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
<title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="maincontent" style="font-size: 19px; font-family:magneto; margin: 0 auto; width:800px;">
{% block header %}
<center style="color: grey;
text-shadow: 2px 2px 2px black; font-size:40px;font-family:magneto"
>
POSTS AND COMMENTS
</center>
{% endblock%}
{% block content %}

{% endblock %}


{% block footer %}
</br>
<p>Thank You.</p>
{% endblock %}
</div>
</body>
</html>

